{% extends "layout.html" %}

{% block style %}
<style>
    .button_holder {
        text-align: center;
    }

    .logo {
        background: url('../static/logo.png') center / cover;
        width: 5%;
        height: 100%;
        margin: 0% 2% 0% 0%;
    }

    .page-content {
        position: relative;
        top: 50%;
        transform: translateY(-100%);
    }

    .form {
        width: 70%;
    }
</style>
{% endblock %}

{% block nav %}
<header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
        <div class="logo"></div>
        <span class="mdl-layout-title">Web Vision</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
            <a class="mdl-navigation__link" href="">Developer</a>
            <a class="mdl-navigation__link" href="">API</a>
            <a class="mdl-navigation__link" href="">Documentation</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Web Vision</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
        <a class="mdl-navigation__link" href="">Developer</a>
        <a class="mdl-navigation__link" href="">API</a>
        <a class="mdl-navigation__link" href="">Documentation</a>
    </nav>
</div>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="index">
        <form action="http://127.0.0.1:5000/generate/0" method="post" enctype="multipart/form-data" id="sub_form">
            Image URL <input type="text" name="url" id="url" class="form-control" aria-describedby="basic-addon1"><br>
            <center><b>OR</b><br><br></center>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <br>
            <br>
            <div class="button_holder">
                <input type="submit" value="Go" class="btn btn-outline-warning btn-lg" style="width: 10%;" id="enter">
            </div>
        </form>
    </div>
</div>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    var but = document.getElementById("enter");
    var sub_form = document.getElementById("sub_form");
    but.onclick = function () {
        but.outerHTML = '<div class="spinner-border text-warning"></div>'
        sub_form.submit();
    }
</script>
{% endblock %}