{% extends "layout.html" %}

{% block style %}
{{ style | safe }}
{% endblock %}

{% block body %}
{% for p in predictions %}
<div class="test" id="element-{{ predictions.index(p) }}">
    {%if text.__contains__('element-{}'.format(predictions.index(p)))%}
    {{ (dom[p['tagName']].format(text['element-{}'.format(predictions.index(p))])) | safe }}
    {%else%}
    {{ dom[p['tagName']].format('Unrecognized Text') | safe }}
    {%endif%}
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script>
    var selected_id = ""
    var obj = document.getElementsByClassName("test")
    for (var i = 0; i < obj.length; i++) {
        obj[i].onclick = function () {
            parent.display_id(this.id);
        }
    }
</script>
{% endblock %}